<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laptop Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div class="description">
        <h1>Trung Tam Dao Tao Lap Trinh Vien Iviettech</h1>
      </div>
    </header>
    <div class="menu">
      <div class="home">
        <a href="../index.html">Home</a>
      </div>
      <div class="phone">
        <a href="./phone.html">Phone</a>
      </div>
      <div class="laptop">
        <a href="./laptop.html">Laptop</a>
      </div>
    </div>
    <main>
      <div class="main-description">
        <h2>This is Laptop Page</h2>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>Coppy right &copy; FE12</p>
      </div>
    </footer>
  </body>
</html>
